/* Zebar-inspired color scheme */
@define-color bg-start #062027;
@define-color bg-end   #002f30;
@define-color fg       #93a1a1;
@define-color secondary #93a1a1;
@define-color primary #f78104;
@define-color accent   #005f60;
@define-color subtle   rgba(255, 255, 255, 0.05);
@define-color subtle-bright rgba(255, 255, 255, 0.15);

* {
  font-size: 14px;
  font-family: ui-monospace, monospace;
  font-weight: normal;
  min-height: 0;
}

window#waybar {
  background: linear-gradient(to bottom, @bg-start, @bg-end);
  color: @fg;
  /* border: 1px solid @primary; */
  /* border-radius: 8px; */
}

/* Workspaces */
#workspaces button {
  /* padding: 1rem; */
  margin-top: 4px;
  margin-bottom: 4px;
  margin-left: 4px;
  color: @secondary;
  background: @subtle;
  border: none;
  border-radius: 8px;
}

#workspaces button.visible {
  background: @subtle-bright;
}

#workspaces button.active {
  background: @accent;
  color: @fg;
}

#workspaces button:hover {
  background: @accent;
  color: @fg;
}

#battery,
#bluetooth,
#cpu,
#clock,
#custom-power,
#custom-sep,
#disk,
#memory,
#mpris,
#pulseaudio,
#network,
#temperature,
#tray {
  padding: 0rem 0.5rem;
  font-size: 18px;
  color: @secondary;
}

/* Network group styling */
#network-speed {
  margin-top: 4px;
  /* text-align: right; */
  /* margin-bottom: 4px; */
}
#network.up,
#network.down {
  font-size: 12px;
  font-weight: normal;
  color: @secondary;
}
